:root {
    --body-md-font-family: "Fira Code", Helvetica;
    --body-md-font-weight: 400;
    --body-md-font-size: 16px;
    --body-md-letter-spacing: 0px;
    --body-md-line-height: 24px;
    --body-md-font-style: normal;
    --body-lg-font-family: "Fira Code", Helvetica;
    --body-lg-font-weight: 400;
    --body-lg-font-size: 18px;
    --body-lg-letter-spacing: 0px;
    --body-lg-line-height: 27px;
    --body-lg-font-style: normal;
    --heading-h1-font-family: "Fira Code", Helvetica;
    --heading-h1-font-weight: 400;
    --heading-h1-font-size: 60px;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 66px;
    --heading-h1-font-style: normal;
    --heading-h4-font-family: "Fira Code", Helvetica;
    --heading-h4-font-weight: 400;
    --heading-h4-font-size: 30px;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 42px;
    --heading-h4-font-style: normal;
    --spacing-scale-0: 0px;
    --spacing-scale-2: 4px;
    --spacing-scale-3: 8px;
    --spacing-scale-5: 16px;
    --spacing-scale-6: 24px;
    --spacing-scale-7: 32px;
    --alias-theme-theme-backdrop: var(--color-scheme-primitive-slate-950);
    --alias-theme-heading-foreground: var(--color-scheme-primitive-slate-50);
    --alias-theme-foreground: var(--color-scheme-primitive-slate-400);
    --alias-theme-theme-stroke: var(--color-scheme-primitive-slate-700);
    --alias-primary-background: var(--color-scheme-primitive-orange-300);
    --alias-theme-theme-background: var(--color-scheme-primitive-slate-900);
    --color-scheme-primitive-slate-950: rgba(2, 6, 24, 1);
    --color-scheme-primitive-indigo-500: rgba(97, 95, 255, 1);
    --color-scheme-primitive-slate-50: rgba(248, 250, 252, 1);
    --color-scheme-primitive-slate-400: rgba(144, 161, 185, 1);
    --color-scheme-primitive-slate-700: rgba(49, 65, 88, 1);
    --color-scheme-primitive-orange-300: rgba(255, 184, 106, 1);
    --color-scheme-primitive-slate-900: rgba(15, 23, 43, 1);
    --radius-3-duplicate: 8px;
}
